
@{
    ViewBag.Title = "asp";
}

<h1>asp</h1>
<p>acerca de asp.net he aprendido ciertas cosas. ya se lo que es asp.net y en que consiste, ademas de poder realizar traspaso de informacion a una vista, entre otras cosas</p>