
@{
    ViewBag.Title = "pilares";
}

<h1>pilares</h1>
<h2>polimorfismo</h2>
el polimorfismo es aquella propiedad que nos permite hacer los objetos maleables para hacer que estos adquieran una u otra funcionalidad dependiendo de lo requerido en alguin momento dado.
<h2>herencia</h2>
la herencia es aquella propiedad que nos permite compartir con otras clases la funcionalidad de una clase padre, pudiendo hacer que las clases heredadas adqieran un comportamiento simolar a la clase padfre
<h2>encapsulamiento</h2>
esta propiedad nos permite proteger alguna clase para que sus atributos no sean accesibles directamente y asi potegerlos de cambios.
<h2>abstraccion</h2>
<p>nos habla de lo relacionado a abstraer una clase u objeto lo necesario para realizar nuesto cometido solo utilizando aquello que necesitamos</p>
